html, body {
    margin: 0;
}
body {
    background-color: #b4e4f3;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    
    background-color:  #f1f1f1;
}
.main {
    display: flex;
    flex-flow: column;
    width: 100%;
}

.header {
    background-color: #a5d1df;
    min-height: 100px;
    flex-direction: row;
    justify-content: space-between;
    display: flex; 
    align-items: center; 
  
    
}

.logo {
     padding: 0px;
       align-items: start;
    
    
}

.menu {
    background-color:rgb(36, 152, 179);
    min-height: 25px;
    align-items: center;
    
}

.content {
    background-color: rgba(255,255,255,0.6);
    background-image: url("img/fundo_transp.png");
    min-height: 450px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-around;


    }

.cont_1{
    background-color: rgba(255, 255, 255, 0.6);
    width: 380px;
    height:380px;
    border-radius: 15px;
}


.cont_3a{
    background-color: rgba(243, 243, 245, 0.6);
    width: 760px;
    height:380px;
    border-radius: 15px;
}

.form{
    background-color: rgba(255, 255, 255, 0.6);
    width: 70%;
    height:380px;
    border-radius: 15px;


}


  .footer {
    background-color: rgb(36, 152, 179);
    min-height: 60px;
}



iframe {
  width: 100%;
  height: 370px;
  overflow: auto; /* Scrollbars appear when needed */
  border: none;
  background: none;
 
}